body{
	background-image: url(https://images.alphacoders.com/295/295883.jpg) ;
}

.jumbotron{
	margin-left: 9%;
	margin-right: 9%;
	text-align: center;
	background-color:white ;
	color: royalblue;
}

#panel1{
	margin-left: 9%;
	margin-right: 9%;
}

#heading1{
	background-color: royalblue;
	color: white;
}

#panel2{
	margin-left: 10%;
	margin-right: 10%;
}

#heading2{
	background-color: royalblue;
	color: white;
}

#addTrain{
	background-color: #FFD700;
}
